@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

:root {
  --success-color: #69fc44;
  --error-color: #fd2b24;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(236, 226, 226);
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 10px black;
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: grey;
  margin-bottom: 5px;
  display: block;
}

.form-control input {
  border: 2px solid grey;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 5px;
}

.form-control input:focus {
  outline: 0;
  border-color: black;
}

.form-control input.success {
  border-color: var(--success-color);
}

.form-control input.error {
  border-color: var(--error-color);
}



.form button {
  border: 2px solid #40aff5;
  border-radius: 3px;
  background-color: #40aff5;
  color: white;
  display: block;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}
